<settings>


  <category label="[COLOR red]ELIPLEX TV [/COLOR]">
    <setting id="Updatecommonresolvers" label="Update Commonresolver from Genesis" type="bool" default="true" visible="false"/>
	<setting type="lsep" label=" Actualización 19/10/2015" option="close" action="RunPlugin(plugin://plugin.video.EliplexTV/?mode=7)" />
        <setting type="lsep" label="Gracias por tu Preferencia https://eliplextv.wordpress.com/" option="close" action="RunPlugin(plugin://plugin.video.EliplexTV/?mode=7)" />
        <setting id="save_location" type="folder"  label="Select a download location." default=""/>
    <setting id="add_playlist" type="bool" label="Add items with multiple links as play lists" default="false"/>
    <setting id="ask_playlist_items" type="bool" label="Ask playlist items to choose from dialog" default="false" />
    <setting id="debug" type="bool" label="Enable Add-on Debugging" default="false"/>
    <setting id="1080pquality" label="Play 1080p video ON demand if available (Not live)" type="bool" default=""/>
    <setting id="genesisorpulsar" type="enum" values="Genesis|Pulsar" label="Play IMDBid with:" default="Genesis"/>
    <setting id="donotshowbychannels" label="Do Not show items under channel name" type="bool" default="false"/>

   </category>
		
   <category label="[COLOR red]CONTROL PATERNAL [/COLOR]">
    <setting id="parentalblockedpin" label="Parental Block Pin" type="text"  option="hidden"  default="false"/>
    <setting id="parentalblocked" label="Is Parental Blocked Applied?" type="bool" default="true" enable="true"/>
    
  </category>

</settings>
